.title-header {
	.title {
		span {
			display: inline-block;
		}

		.text {
			width: 70%;
			font-size: 21px;
			font-weight: 600;
			color: #2d2d2f;
		}
		
		.date {
			margin-left: 1%;
			width: 29%;
			text-align: right;

			img {
				display: inline-block;
				width: 23px;
				position: relative;
				top: 6px;
			}

			.date-text {
				margin-left: 5px;
				font-size: 13px;
			}
		}
	}

}
