
// 레이아웃
.ringle-review {
	padding: 15px;

	.contents {
		margin-top: 20px;

		.left, .right {
			display: inline-block;
		}

		.left {
			width: 60%;
		}

		.right {
			padding-left: 15px;
			border-left: solid 2px #ddd;
			width: calc(40% - 20px);
		}
	}
}