
// 레이아웃
.ringle-review {
	padding: 5px 15px;

	.contents {
		display: flex;
		margin-top: 10px;

		.left, .right {
			display: inline-block;
		}

		.left {
			width: 60%;
		}

		.right {
			padding-left: 15px;
			border-left: solid 2px #ddd;
			width: calc(40% - 20px);
		}
	}
}